{{! Partial for browse book modal }}

<!-- Begin Browse Book Modal -->

<div class="modal browse-book-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->

    <!-- Begin browse Modal -->
    <section class="browseModal">

      <!-- Begin left -->
      <section class="browseLeft">
        <img
          class="logo"
          src="./assets/img/novelty-logo.png"
          alt="Novelty Logo"
        />
      </section>

      <!-- Begin right -->
      <section class="browseRight">
        <section class="browse-info">
          <ul>
            <li class="browse-book-title" id="booktitle">Title:
              {{title}}</li>
            <li class="browse-book-title" id="bookdesc">Description:
              {{description}}</li>
            <li class="browse-book-title" id="bookauthors">Authors:
              {{authors}}</li>
            <li class="browse-book-title" id="bookcategories">Categories:
              {{categories}}</li>
            <li class="browse-book-title" id="ownedby">Owned By:
              {{first_name}}</li>
            <li class="browse-book-title" id="bookstatus">Status:
              {{available}}</li>
          </ul>
          <button class="button is-normal borrow-book-button">Borrow Book</button>
        </section>
      </section> 

    </section>
  </div>
  <button
    class="modal-close borrow-modal-close is-large"
    aria-label="close"
  ></button>
</div>