<!-- Begin Browse -->
<section class="browse">

  <!-- Begin steps -->
  <section class="steps">

    <!-- Step 1 -->
    <section class="step step-one" id="step1">
      <p><span class="num">1.</span><br />Add a book to your library to share
        with others</p>
    </section>  

    <!-- Step 2 -->
    <section class="step step-two">
      <p><span class="num">2.</span><br />Browse for books to borrow</p>
    </section>

    <!-- Step 3 -->
    <section class="step step-three">
      <p><span class="num">3.</span><br />Borrow a book and enjoy!</p>
    </section>
  </section>

  <!-- Begin all books -->
  <section class="all-books" id="all-books">

    {{!-- Render each book as card --}}
    {{!-- TODO Reformat structure of card, consider alternative approach to fetch id --}}
  {{#each books as |book|}}    
    <div class="card browse-book" id="{{id}}">
      <div class="card-image browse-book-image" id="{{id}}">
        <figure class="image">
          <img id="{{id}}" src="{{book.thumbnail_url}}" alt="{{book.title}}">
        </figure>
      </div>
    </div>
   {{/each}} 
  </section>
</section>

<div id="add-book-modal"></div>

<script src="/js/addBookModal.js"></script>
