<!-- Begin library -->
<section class="library">

  <!-- Begin books you own -->
  <section id="books-you-own-container" class="books-you-own-container">
    <section class="library-title">
      <h1>Books You Own</h1>
    </section>
    <button
      id="add-book-button-library"
      class="button is-normal add-book-button-library"
    >ADD A BOOK</button>
    <section id="books-you-own">

<!-- For each owned book, display as single in Library -->
{{#each booksOwned as |singleBook| }}
    <section class="card">
            <header class="card-content">
                <section class="media-left">
                <figure class="image is-96x128">
                    <img
                    src="{{singleBook.thumbnail_url}}"
                    alt="owned book image"
                    />
                </figure>
                </section>
                <section class="owned-book-header">
                    <h2>{{singleBook.title}}</h2>
                </section>
            </header>
            <section class="card-content">
                <section class="content">
                <ul>
                    <li><span class="library-book-title">Description</span>: {{singleBook.description}}</li>
                    <li><span class="library-book-title">Authors</span>: {{singleBook.authors}}</li>
                    <li><span class="library-book-title">Categories</span>: {{singleBook.categories}}</li>
                    <li><span class="library-book-title">Status</span>: Borrowed by
                    
                    <select name="cars" id="cars">
                    <option value="{{singleBook.borrower.id}}">{{singleBook.borrower.first_name}} {{singleBook.borrower.last_name}}</option>
                    {{#each allUsers as |singleUser|}}
                    
                    <option value="{{../singleUser.id}}">{{../singleUser.first_name}} {{../singleUser.last_name}}</option>
                    {{/each}}
                    </select></li>




                </ul>
                </section>
            </section>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Share</a>
                <a href="#" class="card-footer-item">Save</a>
            </footer>
            </section>
  {{/each}}
            
    </section>
  </section>

  <!-- Begin spacer -->
  <section class="spacer spacer-one"></section>

  <!-- Begin books you borrow -->
  <section id="books-you-borrow-container" class="books-you-borrow-container">
    <section class="library-title">
      <h1>Books You Borrow</h1>
    </section>
    <section id="books-you-borrow">



<!-- For each borrowed book, display as single in Library -->
{{#each booksBorrowed as |singleBook| }}
      <section class="card">
            <header class="card-content">
                <section class="media-left">
                <figure class="image is-96x128">
                    <img
                    src="{{singleBook.thumbnail_url}}"
                    alt="borrowed book image"
                    />
                </figure>
                </section>
                <section class="owned-book-header">
                    <h2>{{singleBook.title}}</h2>
                </section>
            </header>
            <section class="card-content">
                <section class="content">
                <ul>
                    <li><span class="library-book-title">Owned By</span>: {{singleBook.owner.first_name}} {{singleBook.owner.last_name}}</li>
                </ul>
                </section>
            </section>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Return Book</a>
            </footer>
            </section>
{{/each}}




    </section>
  </section>

  <!-- Begin spacer -->
  <section class="spacer spacer-two"></section>

  <!-- Begin profile -->
  <section class="profile">
    <img
      class="profile-image"
      src={{user.profile_url}}
      alt="Profile Placeholder"
    />
    <section class="profile-info">
      <h3>PROFILE</h3>
      <p>
        <em>{{user.first_name}} {{user.last_name}}</em><br />
        <em>{{user.email}}</em><br />
        <em>{{user.location}}</em><br />
      </p>
    </section>
  </section>

  <!-- Begin Add Book Modal -->
  <section id="add-book-modal" class="modal add-book-modal">
    <section class="modal-background"></section>
    <section class="modal-content">
      <!-- Any other Bulma elements you want -->

      <!-- Begin Search Modal -->
      <section class="searchModal">

        <!-- Begin left -->
        <section class="searchLeft">
          <img
            class="logo"
            src="/assets/img/novelty-logo.png"
            alt="Novelty Logo"
          />
        </section>

        <!-- Begin right -->
        <section class="searchRight">

          <!-- Add a Book -->
          <section class="modal-header add-book-modal-header">
            <h1>ADD A BOOK TO YOUR LIBRARY</h1>
          </section>

          <!-- Begin search form -->
          <section class="searchForm">

            <!-- ISBN field -->
            <section class="field isbn-field">
              <label class="label">ISBN</label>
              <p class="control has-icons-left has-icons-right">
                <input
                  id="isbn-input"
                  class="input isbn-input"
                  type="text"
                  placeholder="ISBN"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-book"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </section>

            {{! Search button }}
            <button
              id="search-book-button"
              class="button is-normal searchBookButton"
            >Search Book</button><br />

            {{! Display searched book info }}
            <section id="searched-book-info" class="searched-book-info">
              {{! Info shows dynamically after being seached }}
            </section>
            <section id="book-added-message" class="book-added-message">
              {{! Info shows dynamically after being added }}
            </section>

            {{! Add button }}
            <button
              id="add-book-button"
              class="button is-normal addBookButton Disabled"
            >Add Book</button>
          </section>
        </section>
      </section>
    </section>
    <button
      id="add-modal-close"
      class="modal-close is-large add-modal-close"
      aria-label="close"
    ></button>
  </section>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{{!-- <script type="module" src="/js/library.js"></script> --}}
<script type="module" src="/js/add-book.js"></script>
<script type="module" src="/js/script.js"></script>